body{
    background-image: url("bg.jpg");
    /* background-position: cover; */
    background-size: cover;
    /* background-size: 1280px , 800px; */
    color: white;

}
.paragraph {
    font-family: 'Schoolbell', cursive;
    padding-right: 20cm;
    text-decoration: wavy;
    font-size: 400%;
    color: white;
}
